*{
    margin: 0;padding: 0;
}
body{
    /* display: flex; */
    background: beige;
    margin: 50px;

}
.header{
    display: flex;
}
.pic{
    padding: 7px;
}
.container{
    margin: 1px;
    font-size: x-large;
    padding: 0 20px;
}
.bottom{
    display: flex;
    padding: 31px;
    font-size: x-large;
}
.expertise{
    padding: 0 54px;
}
.info h4{
    padding: 5px;
}
.expertise h4{
    padding: 5px;
}