
  *{
    margin: 0;padding: 0;
    box-sizing: border-box;
  }
  body{
    color: beige;
  }
  .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  .logo{
    position: relative;
    font-size: 25px;
    color: wheat;
    text-decoration: none;
    font-weight: 600;
   
  }
  .navbar a{
    display: inline-block;
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: 700;
    margin-left: 35px;
    transition: .3s;
  }
  .navbar a:hover{
    color: white;

  }
  .home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(/WhatsApp\ Image\ 2022-11-29\ at\ 12.16.49\ PM.jpeg)no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;

  }
  .home-content{
    min-width: 600px;

  }
  .home-content h3 {
    font-size: 32px;
    font-weight: 700;
  }
  .home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
  }
  .home-content p{
    font-size: 20px;

  }
  .home-scl a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 40px;
    background: transparent;
    border: 2px solid wheat; ;
    border-radius: 50%;
    font-size: 20px;
    color: wheat;
    text-decoration: none;
    margin: 30px 15px 30px 0;
  }
  .home-scl a:hover{
    background: rgb(105, 88, 52);
    color: #081b29;
    box-sizing: 0 0 20px wheat;

  }
  .btn-box{
    display: inline-block;
    padding: 12px 28px;
    background:  wheat;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 60px;
    color: black;
  }
  .btn-box:hover{
    box-shadow: 0 0 5px wheat,
    0 0 25px  wheat, 0 0 50px  wheat,
    0 0 100px  wheat
  }
  